@page "/create-role"

@inject NavigationManager NavigationManager
@inject RoleManager<ApplicationRole> _roleManager;

<EditForm id="create-role-form" Model="roleDto" OnSubmit="FormSubmitted" FormName="CreateRoleForm">
    <h4>Create New Role</h4>
    <div>
        <label>
            Name:
            <InputText @bind-Value="roleDto.Name" />
        </label>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private ApplicationRoleDto roleDto { get; set; }

    protected override void OnInitialized() => roleDto ??= new();

    private string LastSubmitResult = "";
    //private void Submit() => Logger.LogInformation("Id = {Id}", Model?.Id);
    async Task FormSubmitted(EditContext editContext)
    {

        bool formIsValid = editContext.Validate();
        LastSubmitResult =
          formIsValid
          ? "Success - form was valid"
          : "Failure - form was invalid";

        if (formIsValid)
        {
            var result = await _roleManager.CreateAsync(new ApplicationRole() { Name = roleDto.Name });
            if (result.Succeeded)
            {
                NavigationManager.NavigateTo("/success");
            }
            else
            {
                string errorMessage;
                if (result.Errors.FirstOrDefault() is not null)
                {
                    errorMessage = result.Errors.FirstOrDefault()!.Description;
                    NavigationManager.NavigateTo($"/Error/{errorMessage}");
                }
                else
                {
                    NavigationManager.NavigateTo($"/Error");
                }

            }
        }
    }
}