@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> _userManager;

@* 
    Since Password cannot be updated with this process, will make a default
    password for new users and then have them change it. 
    Look at _userManager.AddPasswordAsync(user, model.NewPassword);
    of SetPasswordViewModel of Spieser's' MVC project

    For Claims and Policy guidance:
    https://www.yogihosting.com/aspnet-core-identity-policies/
*@

<EditForm id="edit-user-form" Model="userDto" OnSubmit="FormSubmitted" FormName="EditUserForm">
    <h4>Edit User</h4>
    <div>
        <label>
            Name:
            <InputText @bind-Value="userDto.Name" />
        </label>
    </div>
    <div>
        <label>
            Email:
            <InputText @bind-Value="userDto.Email" />
        </label>
    </div>
    <div>
        <label>
            Phone#:
            <InputText @bind-Value="userDto.PhoneNumber" />
        </label>
    </div>
    <div>
        <label>
            Age:
            <InputNumber @bind-Value="userDto.Age" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private ApplicationUserDto userDto { get; set; }

    private ApplicationUser _user;

    [Parameter]
    public ApplicationUser? User 
    { 
        get => _user; 
        set{
            _user = value;
            userDto = new ApplicationUserDto(_user);
        }
    }
    //protected override void OnInitialized() => userDto ??= new();


    async Task FormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();

        if (formIsValid)
        {
            // Now we have to update the User with any potentially changed values of the DTO.
            // But this process cannot be used for changing Passwords. 
            User!.Age = userDto.Age;
            User.Email = userDto.Email;
            User.PhoneNumber = userDto.PhoneNumber;
            User.UserName = userDto.Name;      
           
            var result = await _userManager.UpdateAsync(User);
 
            if (result.Succeeded)
            {
                // For more information on how to enable account confirmation and password reset please visit http://go.microsoft.com/fwlink/?LinkID=532713
                //
                // Send an email with this link
                // var code = await _userManager.GenerateEmailConfirmationTokenAsync(user);
                //
                // var callbackUrl = Url.Action("ConfirmEmail", "Account", new { userId = user.Id, code = code }, protocol: HttpContext.Request.Scheme);
                //
                // await _emailSender.SendEmailAsync(model.Email, "Confirm your account",
                //    "Please confirm your account by clicking this link: <a href=\"" + callbackUrl + "\">link</a>");
                //
                // await _signInManager.SignInAsync(user, isPersistent: false);
                //
                // _logger.LogInformation(3, "User created a new account with password.");
                //
                // return RedirectToLocal(returnUrl);
                NavigationManager.NavigateTo("/success");
            }
            else
            {
                string errorMessage;
                if (result.Errors.FirstOrDefault() is not null)
                {
                    errorMessage = result.Errors.FirstOrDefault()!.Description;
                    NavigationManager.NavigateTo($"/Error/{errorMessage}");
                }
                else
                {
                    NavigationManager.NavigateTo($"/Error");
                }

            }
        }
    }
}