@page "/success"

@inject NavigationManager NavigationManager

<h3>Submitted Test</h3>
<h2>Replace with Overlay/popup whatever </h2>
<br />
<br />

<NavLink href="/create-user">Create User</NavLink>
<br />
<NavLink href="/users-list-virtualize">List of Users (Virtualize)</NavLink>
<br />
<NavLink href="/users-list-dynamic">List of Users (Dynamic)</NavLink>
<br />
<NavLink href="/create-role">Create Role</NavLink>
<br />
<NavLink href="/roles-list">List of Roles</NavLink>

@code {

}
