<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IdentityWithSpieser</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-user">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users-list-virtualize">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List of Users (with Virt)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users-list-with-edit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List of Users (with Edit)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-role">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Role
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roles-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List of Roles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualized-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Virtualized Example
            </NavLink>
        </div>
    </nav>
</div>

